/* Untuk Tablet */
@media (max-width: 1000px){
    .main-container {
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
    }

    article h2 {
        margin: 30px 0;
    }

    .avatar-container {
        margin: 0 auto;
        width: 80%;
    }

    .avatar {
        margin: 10px 0;
        width: 50%;
    }

    .avatar img {
        width: 150px;
    }

    article h3 {
        margin-top: 30px;
    }
    
    /*add animation*/
    .avatar img:hover {
        width: 160px;
        margin-bottom: unset;
        cursor: pointer;
    }

    .avatar:hover {
        width: 50%;
        cursor: pointer;
        transition: 0.3s;
    }
    /*add animation-end*/
}

/* Untuk Smartphone */
@media (max-width: 670px){
    .main-container {
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
    }

    article {
        width: 100%;
    }

    .avatar {
        margin: 0;
        width: 100%;
    }

    .avatar img {
        width: 200px;
    }
    
    /*add animation*/
    .avatar img:hover {
        width: 210px;
        margin-bottom: unset;
        cursor: pointer;
    }

    .avatar:hover {
        cursor: pointer;
        transition: 0.3s;
    }
    /*add animation-end*/
}
